/* powered by Madakimov Akmalidin */@media screen and (max-width: 320px ) {
    #rec308746212 .tn-elem[data-elem-id="1613613229627"] {
        width: 96% !important;
        left: 2% !important;
    }
    #rec308746212 .tn-elem[data-elem-id="1613613385017"] {
        width: 80% !important;
        left: 10% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1619433366645"] {
        left: 52px !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354521831"] {
        left: 23px !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354600317"] {
        top: 34px !important;
        left: 215px !important; 
    }
    #rec308746213 .tn-elem[data-elem-id="1615354675069"] {
        top: 79px !important;
        left: 140px !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1619433368425"] {
        left: 75px !important;
        top: 140px !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354496535"] {
        top: 139px !important;
        left: 128px !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354496540"] {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        left: 0 !important;
    }#rec308746213 .tn-elem[data-elem-id="1615354496540"] .tn-atom {padding: 10px 0px 10px 0; width: 233px;}
    #rec311449513 .t396__artboard::after {
        content: 'Преимущества';
        width: 100%;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: bold;
    }
    #rec309311684 .t396__artboard {
        margin-left: 9% !important;
    }
    /* Block Преимущества */
    .onmobile_none {
        display: none !important;
    }
    .mobi {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobi_title {
        color: #000000;
        font-size: 35px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    .mobi_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
    .mobi_box1 {
        width: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobi_box1_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .box_title {
        color: #000000;
        font-size: 20px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    .box_suptitle {
        color: #000000;
        font-size: 18px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    #rec369676818 .t396__artboard {
        overflow: scroll !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147675390"] {
        top: 256px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147678114"] {
        top: 284px !important;
    }#rec372380955 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
        text-align: start;
    }
}/* powered by Madakimov Akmalidin */
/* powered by Madakimov Akmalidin */@media screen and (min-width: 320px) and (max-width: 370px) {
    #rec308746213 .tn-elem[data-elem-id="1619433368425"] {
        top: 140px !important;
    }
    #rec308746212 .tn-elem[data-elem-id="1613613229627"] {
        width: 96% !important;
        left: 2% !important;
    }
    #rec308746212 .tn-elem[data-elem-id="1613613385017"] {
        width: 80% !important;
        left: 10% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354496535"]{
        top: 139px !important;  
    }
    #rec308746213 .tn-elem[data-elem-id="1615354675069"] {
        top: 79px !important;
        left: 46% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354600317"] {
        top: 34px !important;
        left: 67% !important; 
    }
    #rec309311684 .t396__artboard {
        margin-left: 9% !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147675390"] {
        top: 256px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147678114"] {
        top: 284px !important;
    }


    #rec308746213 .tn-elem[data-elem-id="1615354496540"] {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        left: 0 !important;
    }#rec308746213 .tn-elem[data-elem-id="1615354496540"] .tn-atom {padding: 10px 0px 10px 0; width: 233px;}
    #rec311449513 .t396__artboard::after {
        content: 'Преимущества';
        width: 100%;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: bold;
    }
    /* Block Преимущества */
    .onmobile_none {
        display: none !important;
    }
    .mobi {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobi_title {
        color: #000000;
        font-size: 35px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    .mobi_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
    .mobi_box1 {
        width: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobi_box1_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .box_title {
        color: #000000;
        font-size: 20px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    .box_suptitle {
        color: #000000;
        font-size: 18px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    #rec369676818 .t396__artboard {
        overflow: scroll !important;
    }#rec372380955 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
        text-align: start;
    }
}/* powered by Madakimov Akmalidin */
/* powered by Madakimov Akmalidin */@media screen and (min-width: 370px) and (max-width: 450px) {
    #rec308746212 .tn-elem[data-elem-id="1613613229627"] {
        width: 96% !important;
        left: 2% !important;
    }
    #rec308746212 .tn-elem[data-elem-id="1613613385017"] {
        width: 80% !important;
        left: 10% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354496535"]{
        top: 139px !important;  
    }
    #rec308746213 .tn-elem[data-elem-id="1615354675069"] {
        top: 79px !important;
        left: 44% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1615354600317"] {
        top: 34px !important;
        left: 67% !important; 
    }
    #rec308746213 .tn-elem[data-elem-id="1619433368425"] {
        top: 140px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147675390"] {
        top: 256px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147678114"] {
        top: 284px !important;
    }

    #rec308746213 .tn-elem[data-elem-id="1615354496540"] {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        left: 0 !important;
    }#rec308746213 .tn-elem[data-elem-id="1615354496540"] .tn-atom {padding: 10px 0px 10px 0; width: 233px;}
    #rec311449513 .t396__artboard::after {
        content: 'Преимущества';
        width: 100%;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: bold;
    }
    #rec309311684 .t396__artboard {
        margin-left: 9% !important;
    }
    /* Block Преимущества */
    .onmobile_none {
        display: none !important;
    }
    .mobi {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobi_title {
        color: #000000;
        font-size: 35px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    .mobi_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
    .mobi_box1 {
        width: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobi_box1_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .box_title {
        color: #000000;
        font-size: 20px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    .box_suptitle {
        color: #000000;
        font-size: 18px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    #rec369676818 .t396__artboard {
        overflow: scroll !important;
    }#rec372380955 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
        text-align: start;
    }
}/* powered by Madakimov Akmalidin */
/* powered by Madakimov Akmalidin */@media screen and (min-width: 450px) and (max-width: 479px) {
    #rec308746212 .tn-elem[data-elem-id="1613613229627"] {
        width: 96% !important;
        left: 2% !important;
    }
    #rec308746212 .tn-elem[data-elem-id="1613613385017"] {
        width: 80% !important;
        left: 10% !important;
    }
    #rec308746213 .tn-elem[data-elem-id="1619433366645"] {
        left: 15px !important;
        top: 32px !important;
        width: 40px !important;
    }#rec308746213 .tn-elem[data-elem-id="1615354521831"]{top: 35px !important;left: 63px !important;width: 10% !important;}#rec308746213 .tn-elem[data-elem-id="1615354600317"]{left: 51% !important;top: 32px !important;width: 40px !important;}#rec308746213 .tn-elem[data-elem-id="1615354675069"]{top: 35px !important; left: 58% !important; width: 39% !important;}#rec308746213 .tn-elem[data-elem-id="1619433368425"] {left: 119px !important; top: 108px !important; width: 37px !important;}
    #rec308746213 .tn-elem[data-elem-id="1615354496540"] {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        left: 0 !important;
    }#rec308746213 .tn-elem[data-elem-id="1615354496540"] .tn-atom {padding: 10px 0px 10px 0; width: 233px;}
    #rec308746213 .tn-elem[data-elem-id="1615354496535"]{
        top: 108px !important;  
    }
    #rec311449513 .t396__artboard::after {
        content: 'Преимущества';
        width: 100%;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-family: 'Geometria', Arial, sans-serif;
        font-weight: bold;
    }
    #rec309311684 .t396__artboard {
        margin-left: 9% !important;
    }
    /* Block Преимущества */
    .onmobile_none {
        display: none !important;
    }
    .mobi {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobi_title {
        color: #000000;
        font-size: 35px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    .mobi_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
    .mobi_box1 {
        width: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobi_box1_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .box_title {
        color: #000000;
        font-size: 20px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    .box_suptitle {
        color: #000000;
        font-size: 18px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    #rec369676818 .t396__artboard {
        overflow: scroll !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147675390"] {
        top: 256px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147678114"] {
        top: 284px !important;
    }
    #rec372380955 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
        text-align: start;
    }
}/* powered by Madakimov Akmalidin */
/* powered by Madakimov Akmalidin */@media screen and (min-width: 479px) and (max-width: 1200px) {
    /* Block Преимущества */
    .onmobile_none {
        display: none !important;
    }
    .mobi {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobi_title {
        color: #000000;
        font-size: 35px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    .mobi_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }
    .mobi_box1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobi_box1_flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .box_title {
        color: #000000;
        font-size: 20px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    .box_suptitle {
        color: #000000;
        font-size: 18px;
        font-family: 'Geometria', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
    #rec369676818 .t396__artboard {
        overflow: scroll !important;
        }
        #rec372380955 .tn-elem[data-elem-id="1475147675390"] {
            top: 75px !important;
        }
        #rec372380955 .tn-elem[data-elem-id="1475147678114"] {
            top: 140px !important;
        }
        #rec372380955 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
            text-align: start;
        }
}/* powered by Madakimov Akmalidin */